@import "./src/common/commonStyles";

.wrapper {
    position: relative;
}

.form {
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 50px 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 510px;
}

.errors {
    position: relative;
}