@import "./src/common/commonStyles";

.top {
    padding: 170px 0 120px;
}

.logos {
    width: 28%;
    margin: 0 auto 89px;
}

.demo {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.searchLine {
    @include flexible();
    width: 100%;
}

.login {
    margin-left: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 33px;
    font-weight: 600;
    padding: 18px 33px;
    height: 58px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

}

@media (max-width: 1600px) {
    .top {
        padding: 100px 0 80px;
    }
    .demo {
        font-size: 18px;
    }
    .logos {
        margin: 0 auto 60px;
    }
}