@import "./src/common/commonStyles";

.card {
    width: 100%;
    position: relative;
}

.front {
    width: 100%;
    padding: 40px;
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    display: grid;
    grid-template-areas:
    'center center center'
    'first first second'
    ;
    grid-gap: 10px;
}

.back {
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 85%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -25px;
    height: 50px;
}

.center {
    padding: 65px 90px;
    grid-area: center;
    background: #EEEEEE;
    border-radius: 15px;


    & img {
        margin: 0 auto;
        width: 120px;
        height: 120px;
    }
}

.rectangle {
    height: 40px;
    background: #EEEEEE;
    border-radius: 15px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

@media (max-width: 1260px) { //1260px - 1201px
    .center {
        padding: 55px 80px;

        & img {
            width: 80px;
            height: 80px;
        }
    }
}

@media (max-width: 1200px) { //1200px - 993px
    .center {
        padding: 45px 60px;

        & img {
            width: 80px;
            height: 80px;
        }
    }
}
@media (max-width: 992px) { //992px - 769px
    .center {
        padding: 35px 40px;

        & img {
            width: 50px;
            height: 50px;
        }
    }
    .rectangle {
        height: 25px;
    }
    .back {
        width: 80%;
        bottom: -15px;
    }
}
@media (max-width: 768px) { //768px - 650px
    .front {
        padding: 20px;
    }
    .center {
        padding: 35px 30px;

        & img {
            width: 45px;
            height: 45px;
        }
    }
    .rectangle {
        height: 15px;
    }
    .back {
        width: 80%;
        bottom: -15px;
    }
}

@media (max-width: 650px) {
    .card {
        margin: 0 auto;
        width: 60%;
    }
    .center {
        padding: 55px 30px;

    }
}
@media (max-width: 480px) {
    .card {
        margin: 0 auto;
        width: 60%;
    }
    .center {
        padding: 35px 30px;
    }
}
@media (max-width: 280px) {
    .center {
        & img {
            width: 35px;
            height: 35px;
        }
    }
}