@import "./src/common/commonStyles";

.search {
    width: calc(100% - 135px);
}

.inputContainer {
    border-radius: 28px;
    position: relative;
    width: 100%;

}

.input {
    position: relative;
    z-index: 20;
    border-radius: 56px;
    outline: none;
    border: none;
    width: 100%;
    background: rgba(255,255,255,1);
    padding: 19px 120px 18px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.list {
    border-radius: 28px;
    background: rgba(255,255,255,1);
    position: absolute;
    padding: 58px 20px 20px;
    top: 0;
    list-style: none;
    left: 0;
    width: 100%;
}

.listContainer {
    margin-top: 5px;
}

.item {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #717171;
    transition: all 0.3s ease;
    padding: 10px;
}

.item:hover {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    color: #3e3e3e;
}

.container {
    position: relative;
    height: 58px;
    width: 100%;
    border-radius: 56px;
    padding: 19px 120px 18px 30px;
    background: rgba(255,255,255, 1);
    cursor: pointer;
}

.closedPlaceholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.25);
}
