@import "./src/common/commonStyles";

.inputContainer {
    border-radius: 28px;
    position: relative;
    width: 100%;
    z-index: 3;
}

.input {
    height: 58px;
    position: relative;
    z-index: 20;
    border-radius: 56px;
    outline: none;
    border: none;
    width: 100%;
    background: rgba(255,255,255,1);
    padding: 18px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 650px) { //650px - less
    .inputContainer {
        grid-area: input;
    }

    .input {
        height: 100%;
        background: rgba(242,242,242,1);
        font-size: 14px;
        padding: 12px 20px;
    }
}