@import "./src/common/commonStyles";

.list {
    border-radius: 28px;
    background: rgba(255,255,255,1);
    position: absolute;
    padding: 58px 20px 20px;
    top: 0;
    list-style: none;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
}

.item {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #717171;
    transition: all 0.3s ease;
    padding: 10px;
}

.item:hover {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    color: $primary-text-color;
}

.loader {
    margin: 0 auto;
    width: 32px;
}

.notFound {
    cursor: default;
    text-align: center;
    color: $primary-text-color;
}

.notFound:hover {
    background: transparent;
    border-radius: 10px;
}


@media (max-width: 992px) {
    .list {
        padding: 52px 20px 20px;
    }
    .item {
        font-size: 16px;
        padding: 10px 0;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
@media (max-width: 650px) {
    .list {
        position: relative;
        z-index: 1;
        box-shadow: none;
        padding: 0 25px;
        margin: 0;
        border-radius: 0;
    }
}